*{
  margin: 0;
  padding: 0;
}

boby{
  width: 100vw;
  height: 100vh;
}

.cards-grid {
  width: 100vw;
  height: 35vh;
  flex-wrap: wrap;
}

/* FLIP CARD */
.flip-card {
  position: absolute;
  width: 6%;
  height: 28%;
  background: none;
  border: none;
}
.flip-card img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.flip-card:hover{
  transform: translateY(3vh);
  background: none;
}
------------------------------------------
.select-container{
  display: flex;
  
}
.select-cards-grid {
  display: flex;
  grid-gap: 80px;
  padding-bottom: 60px;
  height: 45vh;
  justify-content: center;
}
.select-flip-card {
  width: 11.5%;
  height: 100%;
  
}

.select-flip-card img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.select-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.select-flip-card-front, .select-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  backface-visibility: hidden;
}

.select-flip-card-back {
  transform: rotateY(180deg);
}

 .select-flip-card-inner {
  transform: rotateY(-180deg);
}

.prediction {
  display: flex;
  align-items: center;
  flex-direction: column;
}

